<link rel="stylesheet" href="/template/select/style.css"/>

<div class="row search-input">
  <div class="col-md-12">
      <input type="text" ng-model="qtxt" ng-change="$select.load(qtxt)" ng-model-options="{debounce: 500}"
      placeholder="Хайх үгийг оруулна уу." class="search-input form-control"/>
  </div>
</div>
<div class="row select-container">
  <div class="col-md-6">

    <table class="table table-cover table-bordered">
      <thead>
        <tr>
          <th width="50"></th>
          <th width="300">{{$select.options.tableLabel}}</th>
          <th width="100">Сонгох</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $select.items">
          <td>{{item[$select.options.srcId]}}</td>
          <td>{{item[$select.options.srcName]}}</td>
          <td><button id="item{{item[$select.options.srcId]}}" type="submit" ng-disabled="$select.isEnabled(item)" class="btn btn-success" ng-click="$select.select(item[$select.options.srcId], item)">Сонгох</button></td>
        </tr>
        <tr ng-if="$select.items.length === 0">
          <td colspan="4">{{$select.options.tableLabel}} олдсонгүй.</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-6">

    <table class="table table-cover table-bordered">
      <thead>
        <tr>
          <th width="50"></th>
          <th width="300">Cонгогдсон <span class="lowercase">{{$select.options.tableLabel}}</span></th>
          <th width="100">Хасах</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in $select.selectedItems">
          <td>{{key}}</td>
          <td>{{value[$select.options.srcName]}}</td>
          <td><button class="btn btn-danger" ng-click="$select.remove(key)">Хасах</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
